    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">What is vortex-spark?</h2>
            <p class="intro text-center">vortex-spark is a Java library that makes it possible to perform distributed data analytics and processing on PrismTech's Vortex IoT and IIoT data with Apache Spark. The library provides a connector for ingesting Vortex data into Spark and for writing data back into Vortex.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Built with Java</h3>
                        <p>Java makes the library easily deployable and work seamlessly with Spark.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Real-time</h3>
                        <p>Process and analyze the data to make decisions in real-time instead of waiting for a batch process to make the decision.</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Easy to use</h3>
                        <p>The library has been carefully written to make working with Vortex data in Spark as easy as possible.</p>
                    </div><!--//content-->            
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
